<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">

      <h1>送信が完了しました</h1>

      <p>内容は以下のとおりです</p>

      <h2>[タイトル]</h2>
      <p><%= @title %></p>

      <h2>[本文]</h2>
      <p><%= @body %></p>

    </div>
  </div>
</div>